.indexCircle {
  width: 33px;
  height: 33px;
  border: solid 1px black;
  border-radius: 50%;
  font-weight: bold;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.availableBuildingBlock {
  cursor: pointer;
  background-color: green;
  color: white;
}

.nonAvailableBuildingBlock {
  cursor: not-allowed;
}
