.container {
  background-color: pink;
  min-height: calc(100vh - 48px);
  text-align: center;
  max-width: 888px;
  margin: 0 auto;
}

.indexCirclesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
