.cardContainer {
  width: fit-content;
  height: 111px;
  overflow-y: scroll;
  border: solid black 1px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  text-align: center;

  cursor: pointer;
}

.targetSpan {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
