.cardContainer {
  max-width: 355px;
  height: fit-content;
  border: solid black 1px;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
  text-align: center;
  position: relative;
}

.targetSpan {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnContainer {
  margin: 8px 0 4px;
}

.btnContainer a {
  border-radius: 8px;
  background-color: white;
  color: black;
  border: solid black 1px;
  text-decoration: none;
  padding: 2px 8px;
}

.btnContainer a:hover {
  background-color: black;
  color: white;
}

.statusContainer {
  position: absolute;
  right: 4px;
  bottom: 4px;
}
