.listDisplay {
  margin-top: 20px;
  margin-bottom: 30px;
}

.listDisplay a {
  display: block;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.listDisplay > a:nth-child(odd) {
  color: orange;
}

.listDisplay > a:nth-child(odd):hoverº {
  color: grey;
}

.listDisplay a:hover {
  color: grey;
}

.listDisplay ol {
  list-style-type: none;
  text-align: center;
}

.listDisplay li {
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-top: 2px;
}

.listDisplay li:nth-child(odd) {
  color: orange;
}

.listDisplay ol li:hover {
  color: grey;
}

.listDisplay li:nth-child(odd) a {
  color: orange;
}

.listDisplay li:nth-child(odd) a:hover {
  color: grey;
}
