.navContainer {
  height: 44px;
  width: 100%;
  overflow-x: scroll;
  background-color: black;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  color: white;
}

.navContainer a {
  text-decoration: none;
  color: white;
  font-family: 'Barlow Condensed', sans-serif;
}

.contactElementsDiv {
  position: absolute;
  right: 22px;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 8px;
  border: solid black 1px;
}

.contactElementsDiv a > * {
  margin: 0 8px;
  transform: translateY(4px);
}

.feedbackBtn:hover {
  background-color: black;
  color: var(--secondary);
  box-shadow: 0 0 5px 5px var(--secondary);
}

.actualNavbar {
  height: 22px;
  padding: 0 11px;
  overflow-x: scroll;
  background: rgb(63, 94, 251);
  background: -moz-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
  color: white;
  border-top: 1px solid white;
  border-bottom: 0.1px solid black;
}

.actualNavbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1rem;
}

.navbarItemBtn {
  cursor: pointer;
  margin: 0 3px;
}

.navbarItemBtn:hover {
  text-shadow: -1px -1px #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: var(--secondary);
}

@media only screen and (max-width: 800px) {
  .feedbackBtn {
    display: none;
  }

  .contactElementsDiv {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 555px) {
  .navContainer a {
    font-size: 1.5rem;
  }
  .contactElementsDiv {
    display: none;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 300px) {
  .navContainer a {
    font-size: 1.1rem;
  }
}
