.pageContainer {
  max-width: 777px;
  width: 96%;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.pageContainer h1 {
  font-size: 2rem;
  font-family: 'Shadows Into Light', cursive;
}

.pageContainer h2 {
  font-weight: 400;
  font-size: 0.8rem;
  font-family: 'Comic Sans MS', cursive;
}
