.pageContainer {
  max-width: 777px;
  width: 96%;
  margin: 0 auto;
  text-align: center;
}

.pageContainer h1 {
  font-size: 2rem;
  font-family: 'Shadows Into Light', cursive;
}

.pageContainer h2 {
  font-family: 'Beau Rivage', cursive;
  font-weight: 400;
  font-size: 2rem;
}
