.episodeContainer {
  margin: 2px 4px;
  border: 1px black solid;
  border-radius: 8px;
  background-color: aliceblue;
  color: black;
  cursor: pointer;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .episodeContainer {
    max-width: 150px;
  }
}
