.main {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    137deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(128, 95, 16, 1) 5%,
    rgba(9, 121, 113, 1) 20%,
    rgba(7, 46, 146, 1) 23%,
    rgba(49, 53, 133, 1) 83%,
    rgba(143, 0, 255, 1) 100%
  );
  max-width: 100vw;
}

.mainContainer {
  width: 60%;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.playerWrapper {
  position: relative;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.episodeInformation {
  margin: 12px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  width: fit-content;
  max-width: 100vw;
  padding: 8px;
  border-radius: 8px;
}

.episodesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.episodeText {
  margin: 0 8px;
}

.listenAlbumBtnContainer {
  margin-top: 4px;
}

.listenAlbumBtn {
  border: solid black 1px;
  border-radius: 8px;
  background-color: white;
  text-decoration: none;
  padding: 2px 4px;
}

@media only screen and (max-width: 768px) {
  .mainContainer {
    width: 96%;
  }
}
