.mainContainer {
  height: 100vh;
  text-align: center;
}

.logsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  justify-content: space-around;
}

.otherContainer {
  width: 88%;
  margin-top: 20px;
  height: 200px;
  background-color: blueviolet;
  margin: 0 auto;
}

.logDisplayContainer {
  width: 444px;
  margin: 12px auto;
  border: solid black 1px;
  background-color: pink;
  text-align: center;
}
.logCard {
  border: solid black 2px;
  margin: 2px 3px;
  width: 33px;
  height: 33px;

  text-align: center;
  padding: 3px;
  cursor: pointer;
  border-radius: 100%;
  background-color: white;
  color: black;
}

.logCard p {
  transform: translateY(2px);
}
