.mainContainer {
  height: 100vh;
  text-align: center;
}

.logsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.otherContainer {
  width: 88%;
  margin-top: 20px;
  height: 200px;
  background-color: blueviolet;
  margin: 0 auto;
}

.logDisplayContainer {
  width: 444px;
  margin: 12px auto;
  border: solid black 1px;
  background-color: pink;
  text-align: center;
}
