@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body,
html {
  height: 100vh;
}

:root {
  --secondary: orange;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.music-footer {
  height: 70px;
  width: 100%;
}
