@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

body,
html {
  height: 100vh;
  background-color: black;
}

:root {
  --secondary: orange;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.music-footer {
  height: 70px;
  width: 100%;
}

p {
  margin: 8px;
}
