@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

.main {
  background-image: url('/images/jpultima.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  color: white;
  position: relative;
  padding: 8px;
  height: calc(100vh - 68px);
}

.enterBtnContainer {
  margin-top: 22px;
}

.enterBtnContainer > * {
  margin: 10px 0;
}

.enterBtn {
  border: solid black 1px;
  background-color: white;
  background-image: none;
  padding: 4px 12px;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  transition: 0.6s ease;
}

.enterBtn:hover {
  background-color: #85ffbd;
  padding: 8px 22px;
  font-size: 1.6rem;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

.bottomNavbar {
  position: fixed;
  bottom: 8px;
}

.languagesDiv {
  background-color: violet;
  margin-top: 20px;
  width: fit-content;
  padding: 22px;
  border-radius: 8px;
}

.languagesDiv button {
  display: block;
  padding: 4px 6px;
  background-color: transparent;
  color: black;
  border-radius: 8px;

  border: none;
}

.languagesDiv button:hover {
  box-shadow: 0 0 5px 5px black;
}

.albumOfTheDayContainer {
  border: solid 2px white;
  display: inline-block;
  padding: 8px;
  width: fit-content;
  margin-top: 11px;
  display: flex;
  border-radius: 8px;
}

.albumInformation {
  padding: 0 8px;
}

.albumInformation a {
  text-decoration: none;
  color: red;
}

.albumInformation a:hover {
  color: yellow;
}

@media only screen and (max-width: 800px) {
  .main {
    font-size: 1rem;
    text-align: right;
  }
}
