.container {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0f0c29, #302b63, #24243e);
  background: linear-gradient(to left, #0f0c29, #302b63, #24243e);
  padding: 0;
  margin: 0;
  height: calc(100vh - 68px);
}

.mainContainer {
  max-width: 777px;
  width: 94%;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.albumContainer {
  width: 333px;
  height: 444px;
  border: solid black 1px;
  border-radius: 8px;
  background-color: #24243e;
  color: white;
  margin: 0 10px;
  padding: 8px;
}

.albumCoverContainer {
  display: inline;
  width: 300px;
  height: 300px;
}
