.container {
  width: 100%;
  height: calc(100vh - 68px);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  border: solid black 2px;
  padding: 8px;
}

.projectContainer {
  border: solid grey 1px;
  height: fit-content;
  padding: 8px;
  border-radius: 8px;
  background-color: rgb(43, 43, 43);
  margin: 3px;
  position: relative;
}

.iconsContainer {
  position: absolute;
  right: 2px;
  bottom: 16px;
}

.iconsContainer a {
  text-decoration: none;
  color: white;
  transform: translateY(-5px);
}

.iconsContainer > * {
  margin: 1px;
  cursor: pointer;
}

.iconsContainer > *:hover {
  color: orange;
}

.player-wrapper {
  border-radius: 22px;
  overflow: hidden;
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  border-radius: 22px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.url {
  text-decoration: none;
  color: white;
}

.url:hover {
  color: orange;
}

.circlesContainer {
  display: flex;
  flex-wrap: wrap;
}

.projectTagline {
  font-size: 0.6rem;
  margin: 0;
  color: orange;
}

.bottomContainer {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
}
